.wrapper{
  padding-top: 96px;
  max-width: 1280px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.company-information{
  display: flex;
  justify-content: space-between;
  hr{
    height: 1px;
  }
  h1{
    font-family: Atyp Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFFA3;
  }
}

.description{
  margin-top: 27px;
  max-width: 740px;
  font-family: Atyp Display;
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
  letter-spacing: -0.04em;
  color: #A6A6A6;
  span{
    color: white;
  }
}

.date{
  font-family: Atyp Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #8B8B8B;
  margin-top: 32px;
}

@media (max-width: 1030px) {
  .company-information {
    flex-flow: column;
    .infomation, .date{
      margin-top: 24px;
    }
  }
}

@media (max-width: 767px) {
  .company-information {
    h1 {
      font-size: 18px;
    }

    .description {
      font-size: 28px;
    }
  }
}